/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #640D5F; /* dark violet */
    --secondary-color: #db34a3; /* light brown */
    --highlight-color: #036038; /* green */
    --highlight-color-light: #2fd88f; /* light green */
    --text-color:#432E54;
}



/* Global styles */

body {
    font-family: var(--primary-font);
    padding-top: 57.15px; /* pushes the top of the header down under fixed navbar */
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    /* color: var(--primary-color); */
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    padding-top: 4rem; /* prevent navbar overlap */
}

/* Buttons */

.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outline {
    border: 3px solid var(--highlight-color);
    padding: 7px 25px;
    color: var(--highlight-color)
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: white
}

/* Navbar */

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 80px;
    height:80px;
}

/* Header */

#main .lead {
    font-family: var(--secondary-font);
}

.responsive-iframe{
     width: 100%;
     height: 100%;
}

/* Style the hero section */
.hero {
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero1.jpeg');
background-size: cover;
background-repeat: no-repeat;
background-position: center top;
color: #FFEBD4;
padding: 8rem 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}



.logo{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    display: block;
}

/* Modal */
#modal{
    color:var(--text-color);
}

/* Style the footer */
#footer {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem; 
    margin-top: auto;
    
}

.social-links i {
    color: var(--highlight-color-light);
    font-size: 1.5rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.social-links i:hover {
    color: var(--secondary-color);
}